/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;1,800&family=Sacramento&display=swap');

/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Landing page Elements */



/* Landing Page Classes */

.button-container {
    background-color: white;
    border: solid black 2px;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
    height: 250px;
    width: 85%;
    margin: 0 auto;
}

.action-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 60px 0 120px;
}

.button-container button {
    height: 40px;
    width: 85%;
    background-color: #2F0F5D;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.05rem;
}

.socials-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    bottom: 25px;
    padding-top: 230px;
}

.social-icon {
    font-size: 30px;
    color: #2F0F5D;
}

/* landing page Id's */




/* Elements */

body {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    background-color: #27E1C1;
}

h1 {
    color: black;
    font-size: 2rem;
    padding-bottom: 25px;
}

/* Class */

.home-btn {
    position: absolute;
    top: 15px;
    left: 15px;
}

.btn-home {
    color: white;
    font-size: 25px;
}

.header-image {
    width: 100%;
}

.footer-image {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header {
padding-bottom: 40px;
}

.sub-header {
    font-size: 1.2rem;
    color: gray;
}

.form-container {
    background-color: white;
    border: solid black 2px;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
    height: 520px;
    width: 85%;
    margin: 0 auto;
}

.top-user-div {
    padding: 25px 0;
}

.user-div {
    padding-bottom: 25px;
}

.pass-div {
    padding-bottom: 10px;
}

.confirm-pass-div {
    padding-bottom: 30px;
}

.check-box-div {
    width: 250px;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 30px;
}

.newsletter {
    padding-bottom: 15px;
}

.terms a {
    text-decoration: none;
}

.pass-recovery {
    /* border: solid black 1px; */
    margin-left: 180px;
    padding-bottom: 80px;
}

.pass-recovery a {
    padding-top: 20px;
    text-decoration: none;
    font-size: .9rem;
    font-family: 'Merriweather Sans', sans-serif;
}

.form-btn {
    padding-bottom: 50px;
}

.line-break-text {
    color: gray;
    background-color: white;
    /* border: solid black 1px; */
    width: 170px;
    margin: 0 auto;
    position: relative;
    top: 18px;
}

hr {
    width: 80%;
    border: solid lightgray 1px;
    background-color: lightgray;
}

.alt-btn {
    font-size: 23px;
    color: white;
    background-color: #2F0F5D;
}

.alt-signin {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-bottom: 30px;
}

.alt-signin button {
    height: 55px;
    width: 55px;
    border: none;
    border-radius: 10px;
    background-color: #2F0F5D;
}

.register {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: .9rem;
}

.register a {
    text-decoration: none;
}

.Sign-in {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: .9rem;
}

.Sign-in a {
    text-decoration: none;
}

/* Id's */

#email {
    height: 40px;
    width: 85%;
    background-color: white;
    border: solid gray 2px;
    border-radius: 8px;
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.05rem;
}

#name {
    height: 40px;
    width: 85%;
    background-color: white;
    border: solid gray 2px;
    border-radius: 8px;
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.05rem;
}

#pass {
    height: 40px;
    width: 85%;
    background-color: white;
    border: solid gray 2px;
    border-radius: 8px;
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.05rem;
}

#pass:invalid {
    border-color: red;
    opacity: 60%;
}

#sign-in {
    height: 40px;
    width: 85%;
    background-color: #2F0F5D;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.05rem;
}

#newsletter {
    padding-bottom: 20px;
}